<html lang="en">
  <head>
    <title>Streamer Tools</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="center">
      <center>
        <h1>Welcome!</h1>
        <h4>Connecting to servers</h4>
      </center>
    </div>

    <style>
      .center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      body{
        border: 0px;
        margin: 0px;
        font-family: sans-serif;
      }
    </style>
  </body>
</html>