<style>
    body{
        background: #000;
        color: white;
        font-family: sans-serif;
    }

    .img{
        position: fixed;
        bottom: 10px;
        left: 10px;
    }

    .column {
        float: left;
        width: 50%;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .txt2{
        position: fixed;
        bottom: 0px;
        left: 90px;
    }

    .txt1{
        position: fixed;
        bottom: 20px;
        left: 90px;
    }
</style>
<div>
    <div class="row">
        <div class="column">
            <img class="img" draggable="false" id="img" src="<%= data.img %>" width="70px">
        </div>
        <div class="column">
            <h2 class="txt1" id="sname">song name (song difficulty)</h2>
            <h3 class="txt2" id="sauthor">song author [song mapper]</h3>
        </div>
    </div>
</div>
<script>
    setInterval(function(){
        fetch('/api').then(res => res.json()).then(res => {
            if(res.details != "In Menu"){
                document.getElementById('img').src =  res.img
                document.getElementById('sname').innerHTML =  res.details + ' (' + res.mapDifficulty + ')'
                if(res.mapAuthor === ""){
                    document.getElementById('sauthor').innerHTML =  res.songAuthor
                } else{
                    document.getElementById('sauthor').innerHTML =  res.songAuthor + ' [' + res.mapAuthor + ']'
                }
            } else{
                document.getElementById('img').src =  res.img
                document.getElementById('sname').innerHTML =  "In Menu"
                document.getElementById('sauthor').innerHTML =  ''
            }
        })
    }, 1000)
</script>